/* Estilo general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(7, 62, 75);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos del header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	background-color: transparent;
	width: 100%;
}

#logo {
	height: 30%;
	display: flex;
	justify-content: right;
	margin: 5px;
}

.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
	margin: 10px;
}

.bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

header.dark-header .bar {
	background-color: rgb(7, 62, 75);
}

header.light-header .bar {
	background-color: #eeeef7;
}

header.dark-header .nav-links li a {
    color: rgb(7, 62, 75);
}

header.light-header .nav-links li a {
    color: #eeeef7;
}

.nav-links {
	list-style: none;
	gap: 20px;
    display: none;
    flex-direction: row;
    top: 60px; 
    left: 0;
    width: 100%;
    padding: 10px;
}

.nav-links.active {
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

#logo-header {
	height: 50px;
	width: auto;
}

.hidden {
	display: none;
}

#home.hidden {
	display: none;
}
#map-section.hidden {
	display: none;
}
#favorites.hidden {
	display: none;
}

/* Home */

.home {
	background-image: url(../assets/P7070269.JPG);
	width: 100%;
	min-height: 100vh;
	height: 100vh;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	font-size: 60px;
	font-weight: bold;
	color: #eeeef7;
	display: flex;
	justify-content: center;
}

#title_areas {
	position: absolute;
	bottom: 20px;
}

/* Estilos del mapa */
#map-section {
	display: flex;
	justify-items: center;
	height: 100vh;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 0px;
	flex-wrap: wrap;
	overflow-y: auto;
}

#map {
	flex: 2;
	height: 90%;
	width: 85%;
	margin: 100px 40px 40px;
	box-shadow: 0 0 20px rgb(193, 193, 193);
	border-radius: 5px;
}

#card-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 130px;
	margin-right: 50px;
}

#card-text img {
	width: 90%;
	margin: 5px 0px
}

.texto-fondo {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #eeeef7;
    pointer-events: none; /* Evita que interfiera con clics */
    z-index: 0;
}

#card-container {
	text-align: center;
	padding: 5% 8%;
	position: relative;
	justify-items: center;
	border-radius: 10px;
	height: 500px;
	overflow: auto;
}

.background-color-white {
	background-color: #eeeef7;
}

#card-container p, #card-container li, #card-container ul,
#fav-card p, #fav-card li, #fav-card ul{
	text-align: left;
	width: 100%;
	padding-left: 10px;
}

#card-container li{
	list-style-type: none;
	padding: 0% 7%;
}

#card-close {
	border: none;
}

#pop-up {
	text-align: center;
	margin: 0px;
}

#pop-up-img {
	height: 90%;
	width: 95%;
	margin: 0px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #f9ebeb !important;
}

.show-details {
	background-color: rgb(7, 62, 75);
	color: #eeeef7;
	padding: 8px;
	border-radius: 5px;
}

/* #map-picture {
	background-image: url(../assets/blanquita.jpg);
	background-size: cover;
	background-position: center;
	width: auto;
	height: 500px;
	border-radius: 10px;
} */

/* Sección favoritos */
#favorites {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 80px;
	padding-top: 20px;
	height: calc(100vh - 80px);
	gap: 1.1rem;
	overflow-y: auto;
}

#fav-card {
	display: flex;
	flex: 1 1 calc(33.333% - 2.2rem);
	max-width: 400px;
	background-color: #eeeef7;
	border-radius: 10px;
	margin: 1.1rem;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
}

#fav-card img {
	width: 300px;
	height: 250px;
	text-align: center;
	padding: 10px 0px;
}

#fav-card .button-favorites, #card-container .button-favorites {
	position: absolute;
	top: 0.5em;
	right: 1em;
	border: none;
	background: none;
}

#fav-card li {
	list-style-type: none;
}

/* Media: versión para el móvil */
@media (max-width: 768px) {
	.menu-burger {
		flex-direction: column;
		align-items: center;
		width: 40px;
	}
	.nav-links {
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	#title_areas {
		font-size: 40px;
		padding-left: 20px;
	}

	#map-section {
		flex-direction: column;
		align-items: center;
	}

	#map {
		width: 95%;
		height: 150px;
	}

	.leaflet-popup-content {
		max-width: 200px !important;
		font-size: 14px;
	}

	#pop-up-impg {
		width: 100%;
		height: auto;
		max-height: 100px;
		border-radius: 5px;
	}

	#card-text {
		width: 90%;
		height: 80vh;
		margin: 20px auto;
		padding: 10px;
	}

	#fav-card {
		flex: 1 1 100%;
		max-width: 90%;
	}

	/* #map-picture {
		background-image: url(../assets/IMG_20210725_135018.jpg);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 260px;
		border-radius: 10px;
	} */

	#card-container {
		padding: 0;
		height: auto;
		max-height: 200px;
	}

	/* #map-picture img {
		display: none;
	} */

	#fav-card .button-favorites, #card-container .button-favorites {
		position: absolute;
		top: 0;
		right: 1em;
		border: none;
		background: none;
	}
}